* text=auto
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxitems text eol=crlf
*.vcxitems.filters text eol=crlf
*.androidproj text eol=crlf
*.bat text eol=crlf

# Platform libs
lib/cronet/bin/ filter=lfs diff=lfs merge=lfs -text
