* text=auto
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxitems text eol=crlf
*.vcxitems.filters text eol=crlf
*.androidproj text eol=crlf
*.bat text eol=crlf

# Windows libs
lib/cronet/bin/**.dll filter=lfs diff=lfs merge=lfs -text
lib/cronet/bin/**.lib filter=lfs diff=lfs merge=lfs -text
lib/cronet/bin/**.pdb filter=lfs diff=lfs merge=lfs -text
